root = true

[*]
indent_style = space
max_line_length = 120

[*.{cpp,hpp,c,h,mm}]
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[.travis.yml]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab